* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 22px;

    box-sizing: border-box;
}

/* Span styles */
.lvl-2-text {
    font-size: 22px;
}

.lvl-2-grey-text {
    font-size: 19px;
    color: #6A738A;
}

.lvl-3-text {
    font-size: 19px;
}

.description-text {
    font-size: 16px;
    color: #9A9EAF;
}

.priority-marks {
    font-size: 12px;
    margin-right: 5px;
}

.priority-text {
    font-size: 19px;
    color: #6A738A;
}


/* Button styles */
button:hover {
    background-color: #f8f8fb;
}

/* Header */
header {
    background: #fff;
    display: flex;
    align-items: center;
}

.task-board-logo {
    padding: 50px 100px 15px 100px;
}

#logo-text, #mini-logo {
    margin-top: 13px;
    display: inline;
    vertical-align: middle; 
    font-weight: 700;
    font-size: 30px;
}

#mini-logo {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
}

.history-button {
    margin-left: auto;
    margin-right: 100px;
    margin-top: 35px;
    padding: 9px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #EBEDF2;
    border-radius: 5px;
}

.history-icon {
    width: 1.2em;
    vertical-align: middle; 
    position: relative;
    top: -2px;
}

/* Container */
body {
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(134deg, #153677, #4e085f);*/
    background-color: #fff;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin: 20px 100px;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
  
.col {
    background-color: white;
    width: 100%;
    height: 100%;
    min-width: 250px;
    color: black;
    text-align: center;
}

.col > div {
    width: 100%;
    background-color: white;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
    margin-bottom: 10px;
}

/* Column info */
.col-info {
    padding: 10px;
    align-items: center;
    display: flex;
    border-top: 2px solid #E4E6EB;
    border-bottom: 2px solid #E4E6EB;
}

.col-name {
    margin-right: auto;
}

.spacer {
    flex-grow: 1; 
    /* Порожній блок розтягується, 
    заповнюючи вільне просторівство між елементами */
}

.tasks-amount {
    margin-left: auto; /* Move the amount to the right */
    margin-right: 20px;
}

.col-info-button {
    width: 2rem;
    height: 2rem;
    margin-left: auto; /* Move the button to the right */
    margin-right: 0;

    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.col-info-button:hover {
    background-color: #f1f1f3;
}

/* Add task */
.add-task-button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border: 2px dashed #DCDDE3  ;
    border-radius: 15px;
}

.add-task-content::before {
    content: "+ Add new card";
}

/* Task list */
.task {
    list-style: none;
    
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    border: 2px solid #DCDDE3;
    border-radius: 15px;
}

.task-name-button {
    width: 100%;
    padding: 5px;
    align-items: center;
    display: flex;
}

.task-name {
    margin-right: auto;
}

.task-button {
    width: 2rem;
    height: 2rem;
    margin-left: auto; /* Move the button to the right */
    margin-right: 0;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.task-button:hover {
    background-color: #f1f1f3;
}

.task-description {
    text-align: left;
    padding: 0 15px 5px 5px;
    line-height: 1;
    padding-top: 0;
}

.task-time-and-ico {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
}

.task-time::before {
    content: "🗓️";
    font-size: 24px;
    margin-right: 3px;
    /* Або додати іконку */
}

.task-priority {
    background-color: #F0F0F5;
    border-radius: 2em;
    width: fit-content;
    padding: 5px 14px 6px 11px;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.moveto {
    margin: 5px;
}

.moveto-select {
    width: 100%;
    padding: 10px;
    padding-top: 7px;
    font-size: 19px;
    background-color: #E1E1E6;
    border: none;
    border-radius: 5px;
    outline: none;
    appearance: none;
}