* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

/* Header */
header {
    background: #fff;
    display: flex;
}

.task-board-logo {
    padding: 20px 20px;
}

#logo-text, #mini-logo {
    margin-top: 13px;
    display: inline;
    vertical-align: middle; 
    font-weight: 700;
}

#mini-logo {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
}

/* Container */
body {
    width: 100%;
    min-height: 100vh;
    /*background: linear-gradient(134deg, #153677, #4e085f);*/
    background-color: #fff;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 20px;
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
  
.col {
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
}

.col > div {
    width: 100%;
    background-color: white;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0px;
    margin-bottom: 10px;
}

.col-info {
    padding: 5px;
    align-items: center;
    display: flex;
    border-top: 3px solid #E4E6EB;
    border-bottom: 3px solid #E4E6EB;
}

.col-name {
    margin-right: auto;
}

.spacer {
    flex-grow: 1; /* Порожній блок розтягується, заповнюючи вільне просторівство між елементами */
}

.tasks-amount {
    margin-left: auto; /* Move the amount to the right */
    margin-right: 20px;
}

.col-info-button {
    width: 2rem;
    height: 2rem;
    margin-left: auto; /* Move the button to the right */
    margin-right: 0;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.col-info-button:hover {
    background-color: #f1f1f3;
}

.add-task-button {
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border: 3px dashed #E4E6EB;
    border-radius: 10px;
}

.add-task-button:hover {
    background-color: #f7f7fa;
}

.add-task-content::before {
    content: "+ Add new card";
}







